:root {
  --brand-color: #2196f3;
  --accent-color: #ffffff;
  --hero-back: #2f303a;
  --text-color: #212121;
  --second-text: #757575;
  --link-color: #ffffff60;
  --button-btn: #f5f4fa;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px red solid;
}
body {
  background-color: var(--accent-color);
  font-family: "Roboto";
}
.header {
  display: flex;
  padding-left: 24px;
  padding-bottom: 25px;
  padding: 24px 0 25px 0;
}
.header-link:hover{
  color: var(--brand-color);
}
.header-info{
  font-style: normal;
} 
.header-box{
     display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav{
    margin-right: auto;
}
.nav {
  display: flex;
  gap: 50px;
}
.nav-link:hover{
  color: var(--brand-color);
}
.header-span {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.header-logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-right: 93px;
}
.info{
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    align-items: flex-end;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.hero {
  background-color: var(--hero-back);
  padding: 194px 0 200px 0;
  display: flex;
  text-align: center;
  justify-content: center;
}

.hero-title {
  color: var(--accent-color);
  margin-bottom: 30px;
  font-weight: 700;
}

.hero-button {
  color: var(--accent-color);
  background-color: var(--brand-color);
}
.adwantages {
  padding: 94px 0 94px 0;
}
.adwantages-list{
   display: flex;
  text-align: center;
  justify-content: center;
  text-align: start;
  gap: 30px;
}
.adwantages-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
}
.adwantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text);
}
.work {
  padding: 0 0 94px 0;
  display: flex;
  text-align: center;
}
.work-list{
  display: flex;
  gap: 28px;
  justify-content: center;
  text-align: center;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.work-img{
  margin-top: 50px;
}
.team {
  padding: 94px 0 94px 0;
  background-color: #f5f4fa;
  display: flex;
text-align: center;
}
.team-list{
      display: flex;
  gap: 28px;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
.team-item{
  background-color: #ffffff;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text);
}
.team-img {
  width: 270px;
  height: 260px;

}
.team-text{
 padding-top: 30px;
 padding-bottom: 30px;
 padding-left: auto;
 padding-right: auto;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 10px;
}
.team-job {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text);
}
.address{
  color: var(--accent-color);
  margin-top: 20px;
  font-style: normal;
}
.footer {
  background: var(--text-color);
  padding: 60px 0 60px 0;
}
.footer-info{
  font-style: normal;
}
.footer-list{
display: flex;
flex-direction: column;
gap: 9px;
}
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.footer-span {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.button {
  padding-bottom: 94px;
  padding-top: 94px;
  display: flex;
}
.button-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.button-btn:hover{
  background-color: var(--brand-color);
  color: var(--accent-color);
}
.button-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  background-color: var(--button-btn);
}
.cart-list{
  padding-top: 34px;
  padding-bottom: 94px;
   display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.cart-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

  .cart-img{
    width: 100%;
  }
  .cart-item{
    flex-basis: calc((100% - 60px) / 3);
  }
.cart-box {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text);
}
