:root {
  --brand-color: #2196f3;
  --accent-color: #ffffff;
  --hero-back: #2f303a;
  --text-color: #212121;
  --second-text: #757575;
  --link-color: #ffffff60;
  --button-btn: #f5f4fa;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid red;
}
body {
  background-color: var(--accent-color);
  font-family: "Roboto";
}
.header {
  display: flex;
  padding-left: 24px;
  padding-bottom: 25px;
  padding: 24px 0 25px 0;
}
.header-link:hover {
  color: var(--brand-color);
}

.header-info {
  font-style: normal;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav {
  margin-right: auto;
}
.nav {
  display: flex;
  gap: 50px;
}
.nav-link:hover {
  color: var(--brand-color);
}
.nav-link {
  color: var(--text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2%;
}
.header-span {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.header-logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-right: 93px;
  font-family: "Raleway";
}
.info {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  align-items: flex-end;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-link:hover :nth-child(1) {
  fill: #2196f3;
}
.hero {
  background-color: var(--hero-back);
  padding: 200px 0 200px 0;
  text-align: center;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 1600px;
  margin: 0 auto;
}

.hero-title {
  color: var(--accent-color);
  margin-bottom: 30px;
  font-weight: 700;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
}

.hero-button {
  color: var(--accent-color);
  background-color: var(--brand-color);
}
.hero-text {
  margin: 10px 32px;
}
.adwantages {
  padding: 94px 0 94px 0;
}
.adwantages-list {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: start;
  gap: 30px;
}
.adwantages-item::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--button-btn);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.adwantages-item:nth-child(1)::before {
  background-image: url(../img/antenna.png);
}
.adwantages-item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}
.adwantages-item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}
.adwantages-item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}
.adwantages-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
}
.adwantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text);
}
.work {
  padding: 0 0 94px 0;
  display: flex;
  text-align: center;
}
.work-list {
  display: flex;
  gap: 28px;
  justify-content: center;
  text-align: center;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.work-img {
  margin-top: 50px;
}
.team {
  padding: 94px 0 94px 0;
  background-color: #f5f4fa;
  display: flex;
  text-align: center;
}
.team-list {
  display: flex;
  gap: 28px;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
.team-item {
  background-color: #ffffff;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}
.team-img {
  width: 270px;
  height: 260px;
}
.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 10px;
}
.team-job {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text);
}
.address {
  color: var(--accent-color);
  margin-top: 20px;
  font-style: normal;
}
.footer {
  background: var(--text-color);
  padding: 60px 0 60px 0;
  display: flex;
  flex-direction: column;
}
.footer-info {
  font-style: normal;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.footer-span {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.button {
  padding-bottom: 94px;
  padding-top: 94px;
  display: flex;
}
.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.button-btn:hover {
  background-color: var(--brand-color);
  color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px #0000001f;

  box-shadow: 0px 1px 2px 0px #00000014;

  box-shadow: 0px 3px 1px 0px #0000001a;
}
.button-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  background-color: var(--button-btn);
  padding: 6px 25px;
  border-color: transparent;
  border-radius: 4px;
}
.cart-item:hover {
  box-shadow: 0px 2px 2px 0px #0000001f;

  box-shadow: 0px 1px 2px 0px #00000014;

  box-shadow: 0px 3px 1px 0px #0000001a;
}
.cart-text {
  padding: 20px 24px;
  border: 1px solid var(--button-btn);
}
.cart-list {
  padding-top: 34px;
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.cart-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.cart-img {
  width: 100%;
}
.cart-item {
  flex-basis: calc((100% - 60px) / 3);
}
.cart-box {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text);
}
.icon-item {
  width: 16px;
  height: 12px;
  fill: rgba(117, 117, 117, 1);
}
.icon-item:hover {
  width: 16px;
  height: 12px;
  fill: rgba(33, 150, 243, 1);
}
.icon-team {
  width: 20px;
  height: 20px;
}
.team-icon-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.team-icon-link {
  display: inline-block;
  padding: 12px;
  border-radius: 50%;
  fill: rgba(175, 177, 184, 1);
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}
.clients-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-company {
  width: 106px;
  height: 60px;
  fill: rgba(175, 177, 184, 1);
}
.clients-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  outline: 1px solid #afb1b8;
}
.clients-icon-link:hover {
  outline: 1px solid #2196f3;
  .clients-company {
    fill: #2196f3;
  }
}
/*.clients-company:hover {
  width: 106px;
  height: 60px;
  fill: rgba33, 150, 243, 1)(;
}*/
.clients {
  padding: 94px 0 94px 0;
}
.clients-list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
/*.clients-icon-item {
  border: 1px solid gray;
  border-radius: 4px;
}
.clients-icon-item:hover {
  border: 1px solid rgba(33, 150, 243, 1);
  padding: 23px 65px;
  border-radius: 4px;
}*/
.footer-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
}

.footer-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row;
}

.join {
  display: block;
  margin-left: 70px;
}
.join-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #ffffff;
}

.icon-join {
  width: 20px;
  height: 20px;
}
.join-icon-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.join-icon-link {
  display: inline-block;
  padding: 12px;
  border-radius: 50%;
  fill: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
}
.join-icon-link:hover,
.join-icon-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}
