/*! Reset styles */
*,
*::before,
*::after {
  box-sizing: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --brand-color: #2196f3;
  --accent-color: #ffffff;
  --hero-back: #2f303a;
  --text-color: #212121;
  --second-text: #757575;
  --link-color: #ffffff60;
  --button-btn: #f5f4fa;
}

body {
  background-color: var(--accent-color);
  font-family: "Roboto";
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid red;
}

.header {
  display: flex;
  padding-left: 24px;
  padding-bottom: 25px;
  padding: 24px 0 25px 0;
}

.header-link:hover {
  color: var(--brand-color);
}

.header-info {
  font-style: normal;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav {
  margin-right: auto;
}

.header-span {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.header-logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-right: 93px;
  font-family: "Raleway";
}

.header-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: rgb(117, 117, 117);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover :nth-child(1) {
  fill: #2196f3;
}

.nav {
  display: flex;
  gap: 50px;
}

.nav-link:hover {
  color: var(--brand-color);
}

.nav-item {
  position: relative;
}

.nav-link {
  color: var(--text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.aktife {
  color: var(--brand-color);
}

.aktife::after {
  content: "";
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: var(--brand-color);
  display: block;
  position: absolute;
  bottom: -33px;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}

.aktife:hover::after {
  transform: scale(1);
}

.hero {
  background-color: var(--hero-back);
  padding: 200px 0 200px 0;
  text-align: center;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.hero-title {
  color: var(--accent-color);
  margin-bottom: 30px;
  font-weight: 700;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
}

.hero-button {
  color: var(--accent-color);
  background-color: var(--brand-color);
  padding: 10px 32px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  animation-name: move;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.containar {
  display: flex;
  justify-content: center;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.adwantages {
  padding: 94px 0 94px 0;
}

.adwantages-list {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: start;
  gap: 30px;
}

.adwantages-item::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--button-btn);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.adwantages-item:nth-child(1)::before {
  background-image: url(../img/antenna.png);
}

.adwantages-item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}

.adwantages-item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}

.adwantages-item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}

.adwantages-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
}

.adwantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text);
}

.work {
  padding: 0 0 94px 0;
  display: flex;
  text-align: center;
}

.work-list {
  display: flex;
  gap: 28px;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.work-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  width: 370px;
  height: 70px;
}

.work-item {
  position: relative;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team {
  padding: 94px 0 94px 0;
  background-color: #f5f4fa;
  display: flex;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 28px;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.team-item {
  background-color: #ffffff;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

.team-img {
  width: 270px;
  height: 260px;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 10px;
}

.team-job {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text);
}

.team-icon-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  fill: rgb(175, 177, 184);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.icon-item {
  width: 16px;
  height: 12px;
  fill: rgb(117, 117, 117);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-item:hover {
  width: 16px;
  height: 12px;
  fill: rgb(33, 150, 243);
}

.icon-team {
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-company {
  width: 106px;
  height: 60px;
  fill: rgb(175, 177, 184);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  outline: 1px solid #afb1b8;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-link:hover {
  outline: 1px solid #2196f3;
}
.clients-icon-link:hover .clients-company {
  fill: #2196f3;
}

/*.clients-company:hover {
  width: 106px;
  height: 60px;
  fill: rgba33, 150, 243, 1)(;
}*/
.clients {
  padding: 94px 0 94px 0;
}

.clients-list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

/*.clients-icon-item {
  border: 1px solid gray;
  border-radius: 4px;
}
.clients-icon-item:hover {
  border: 1px solid rgba(33, 150, 243, 1);
  padding: 23px 65px;
  border-radius: 4px;
}*/
.button {
  padding-bottom: 94px;
  padding-top: 94px;
  display: flex;
}

.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button-btn:hover {
  background-color: var(--brand-color);
  color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.button-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  background-color: var(--button-btn);
  padding: 6px 25px;
  border-color: transparent;
  border-radius: 4px;
  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-img {
  width: 100%;
}

.cart-item:hover .text-box {
  opacity: 1;
  transform: translateY(0);
}

.cart-text {
  padding: 20px 24px;
  border: 1px solid var(--button-btn);
}

.cart-list {
  padding-top: 34px;
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.cart-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.cart-item {
  flex-basis: calc((100% - 60px) / 3);
}

.cart-box {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text);
}

.box-cart {
  position: relative;
  overflow: hidden;
}

.cart-item:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.text-box {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 300ms;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  padding: 63px 24px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .model {
  transform: scale(2);
}

.model {
  background-color: #ffffff;
  width: 528px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  transition-duration: 250ms;
  transform: translate(-50%, -50%);
}

.model-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: 1px solid gray;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.model-ikon {
  width: 18px;
  height: 18px;
  fill: #000;
  position: absolute;
  top: 30px;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.model-close:is(:hover, :focus) .model-icon {
  fill: var(--brand-color);
}

.model-title {
  color: var(--accent-text);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.model-label {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}

.model-input {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  border: none;
  padding-left: 42px;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.model-comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  display: block;
  resize: none;
  border: none;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.model-box {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
}

.model-link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196f3;
  margin-left: 5px;
}

.model-check {
  margin-right: 9px;
}

.model-sent {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
  padding: 10px 52px;
  background-color: var(--brand-color);
}

.model-frap {
  display: flex;
  justify-content: center;
}

.model-icon {
  width: 12px;
  height: 12px;
  fill: rgb(0, 0, 0);
  position: absolute;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.model-input:hover,
.model-input:focus {
  outline: 1px solid rgb(56, 43, 238);
}

.model-input:hover + .model-ikon,
.model-input:focus + .model-ikon {
  fill: var(--brand-color);
}

.scroll {
  border-radius: 50%;
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  bottom: 50px;
  right: 50px;
  background-color: white;
  width: 40px;
  height: 40px;
}

.scroll-icon {
  width: 30px;
  height: 30px;
  fill: blue;
}

.news-btn {
  padding: 10px 28px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  display: flex;
  gap: 10px;
}

.news-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #fff;
}

.news-input {
  width: 358px;
  height: 50px;
  background-color: var(--text-color);
  border: 1px solid white;
  border-radius: 4px;
}

.news {
  margin-left: auto;
  margin-right: 0;
}

.news-list {
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.news-svg {
  width: 23px;
  height: 24px;
  fill: white;
}

.footer {
  background: #2F303A;
  padding: 60px 0 60px 0;
  display: flex;
  flex-direction: column;
}

.footer-info {
  font-style: normal;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.footer-span {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.footer-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
}

.footer-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row;
}

.join {
  display: block;
  margin-left: 70px;
}

.join-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #ffffff;
}

.icon-join {
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-icon-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.join-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  border-radius: 50%;
  fill: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-icon-link:hover,
.join-icon-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.address {
  color: var(--accent-color);
  margin-top: 20px;
  font-style: normal;
}/*# sourceMappingURL=main.css.map */