.adwantages {
  padding: 94px 0 94px 0;
}
.adwantages-list {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: start;
  gap: 30px;
}
.adwantages-item::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--button-btn);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.adwantages-item:nth-child(1)::before {
  background-image: url(../img/antenna.png);
}
.adwantages-item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}
.adwantages-item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}
.adwantages-item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}
.adwantages-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
}
.adwantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text);
}