.adwantages {
  padding-top: 60px;
  @media screen and (min-width:1200px) {
  padding: 94px 0;
  }



  &__list {
  display: flex;
  gap: 30px;
}
&__item{
&::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: $button-btn;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
  &:nth-child(1)::before {
  background-image: url(../img/antenna.png);
}
  &:nth-child(2)::before {
  background-image: url(../img/clock.png);
}
  &:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}
  &:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}
 @media screen and  (min-width:768px) {
    flex-wrap: wrap;
  } 
  
 
}


&__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: $text-color;
  margin-bottom: 10px;

  @media screen and (min-width:768px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width:1200px) {

  }
}

&__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-text;
}
}




