
.clients-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-company {
  width: 106px;
  height: 60px;
  fill: rgba(175, 177, 184, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  outline: 1px solid #afb1b8;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon-link:hover {
  outline: 1px solid #2196f3;
  .clients-company {
    fill: #2196f3;
  }
}
/*.clients-company:hover {
  width: 106px;
  height: 60px;
  fill: rgba33, 150, 243, 1)(;
}*/
.clients {
  padding: 94px 0 94px 0;
}
.clients-list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
/*.clients-icon-item {
  border: 1px solid gray;
  border-radius: 4px;
}
.clients-icon-item:hover {
  border: 1px solid rgba(33, 150, 243, 1);
  padding: 23px 65px;
  border-radius: 4px;
}*/
