.clients {
  padding: 94px 0 94px 0;

 &__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

&__company {
  width: 106px;
  height: 60px;
  fill: rgba(175, 177, 184, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


&__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  outline: 1px solid #afb1b8;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
  outline: 1px solid #2196f3;
  .clients-company {
    fill: #2196f3;
  }

}
}

&__list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
}





