.footer {
  background: #2f303a;
  padding: 60px 0 60px 0;
  display: flex;
  flex-direction: column;

  &__info {
    margin: 0 70px;

    @media screen and (min-width: 768px) {
      margin: 0 0;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__logo {
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: $brand-color;
    font-family: "Raleway";
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: none;
    }
  }

  &__span {
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: $accent-color;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $link-color;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      align-items: baseline;
    }
  }

  &__list{
    margin-top: 9px;
  }

  &__item {
    margin-bottom: 9px;
  &:last-child{
    margin-bottom: 0;
  }
  }
}

.join {
  margin-left: 0px;

  @media screen and (min-width: 768px){
      margin-left: 183px;
    }

    @media screen and (min-width: 1200px){
      display: block;
      margin-left: auto;
    }

  &__text {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px){
      margin-top: 0;
    }

    @media screen and (min-width: 1200px){
      margin-top: 0;
    }
  }

  &__icon__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  &__icon__link {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    @extend %flex;
    padding: 11px;
    border-radius: 50%;
    fill: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #2196f3;
      fill: #ffffff;
    }
  }
}

.news {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px){
      margin-right: 0;
      margin-left: auto;
    }


  &__btn {
    padding: 10px 28px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #2196f3;
    border: none;
    border-radius: 4px;
    display: flex;
    gap: 10px;
  }

  &__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 60px;

    @media screen and (min-width: 1200px){
      margin: 0;
      text-align: start;
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 15px 16px;
    color: #ffffff;

    @media screen and (min-width: 480px){
      width: 450px;
    }

    @media screen and (min-width: 1200px){
      width: 358px;
    }
  }

  &__list {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;

    @media screen and (min-width: 1200px){
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__svg {
    width: 23px;
    height: 24px;
    fill: white;
  }
}

.address {
  color: $accent-color;
  margin-top: 20px;
  font-style: normal;
}
.icon {
  &__join {
    width: 20px;
    height: 20px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
