.footer {
  background: #2F303A;
  padding: 60px 0 60px 0;
  display: flex;
  flex-direction: column;

  &__info {
  font-style: normal;
}

&__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

&__logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: $brand-color;
  font-family: "Raleway";
}

&__span {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: $accent-color;
}

&__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $link-color;
}

&__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row;
}
}






.join {
  display: block;
  margin-left: 70px;

  &__text {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #ffffff;
}

&__icon__list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

&__icon__link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
  @extend %flex;
  padding: 11px;
  border-radius: 50%;
  fill: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  

  &:hover,
  &:focus {
  background-color: #2196f3;
  fill: #ffffff;
}
}


}


.news {
  margin-left: auto;
  margin-right: 0;

  &__btn {
  padding: 10px 28px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  display: flex;
  gap: 10px;
}

&__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #fff;
}

&__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  padding: 15px 16px ;
  color: #ffffff;
}

&__list {
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

&__svg {
  width: 23px;
  height: 24px;
  fill: white;
}
}


.address {
  color: $accent-color;
  margin-top: 20px;
  font-style: normal;
}
.icon{

  &__join {
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}
