.header {
  display: flex;
  padding-left: 24px;
  padding-bottom: 25px;
  padding: 24px 0 25px 0;

  &__link:hover {
  color: $brand-color;
}

&__box {
  display: flex;
 align-items: center;
}

&__nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

&__span {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: $text-color;
}

&__logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: $brand-color;
  margin-right: 93px;
  font-family: "Raleway";


}

&__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: rgba(117, 117, 117, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &__:hover:nth-child(1) {
  fill: #2196f3;
}
}
 }








.nav {
  display: flex;
  gap: 50px;
  margin-right: auto;

  &__link:hover {
  color: $brand-color;
}

&__item{
  position: relative;
}

&__link {
  color: $text-color;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}


.aktife{
  color: $brand-color;

  &::after{
  content: "";
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: $brand-color;
  display: block;
  position: absolute;
  bottom: -33px;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}

&:hover::after{
  transform: scale(1);
}


}
.info{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 30px;
}
