.hero {
  background-color: $hero-back;
  padding: 118px 0 118px 0;
  text-align: center;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;

  @media screen and (min-width:1200px) {
    padding: 200px 0 200px 0;
  }
  
  // @media screen and (min-width:768px) {
    
  // }

  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  &__title {
  color: $accent-color;
  margin-bottom: 30px;
  font-weight: 700;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 60px;
  letter-spacing: 1.56px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  @media screen and (min-width:480px) {
    width: 360px;
  }

  @media screen and (min-width:1200px) {
  font-size: 44px;
  width: 696px;
  }
}

&__button {
  color: $accent-color;
  background-color: $brand-color;
  padding: 10px 3px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.96px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;

    width: 200px;
    height: 50px;
    animation-name: move;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

  @media screen and (min-width:1200px) {
    padding: 10px 3px;
  }

}
}

// @keyframes move{
//    0%   {
//         transform: translate(0, 0); 
//     }
//   25%  { 
//         transform: translate(10px, 0); 
//     }
//   50%  {
//         transform: translate(10px, 10px); 
//     }
//   75%  {
//         transform: translate(0, 10px); 
//     }
//   100% {
//          transform: translate(0, 0); 
//         }
// }