
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .model{
  transform: scale(2);
}
.model {
  background-color: #ffffff;
  width: 528px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  transition-duration: 250ms;
  transform: translate(-50%, -50%);

  &__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: 1px solid gray;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;

  &:is(:hover, :focus) {
  .model__icon {
    fill: $brand-color;
  }
}
}

&__ikon {
  width: 18px;
  height: 18px;
  fill: #000;
  position: absolute;
  top: 30px;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


&__title {
  color: $accent-text;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

&__label {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}

&__input {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  border: none;
  padding-left: 42px;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  outline: 1px solid rgb(56, 43, 238);
}
  &:hover + .model__ikon,
  &:focus + .model__ikon {
  fill: $brand-color;
}
}

&__comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  display: block;
  resize: none;
  border: none;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}


&__box {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
}

&__link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196f3;
  margin-left: 5px;
}

&__check {
  margin-right: 9px;
}

&__sent {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
  padding: 10px 52px;
  background-color: $brand-color;
}


&__frap {
  display: flex;
  justify-content: center;
}

&__icon {
  width: 12px;
  height: 12px;
  fill: rgb(0, 0, 0);
  position: absolute;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}















.scroll {
  border-radius: 50%;
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  bottom: 50px;
  right: 50px;
  background-color: white;
  width: 40px;
  height: 40px;

  &__icon {
  width: 30px;
  height: 30px;
  fill: blue;
}
}


