.work {
  padding: 0 0 94px 0;
  display: flex;
  text-align: center;

  &__list {
  display: flex;
  gap: 28px;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

&__text {
  position: absolute;
  bottom: 0;
  left: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  @extend %flex;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  width: 370px;
  height: 70px;
}

&__item {
  position: relative;
}


&__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: $text-color;
}
}


